{erl_opts, [debug_info]}.
{deps, [
	{gun, {git, "https://github.com/ninenines/gun.git", {tag, "master"}}}
]}.

{relx, [{release, { revolver, "0.1.0" },
	[http_interface,
		http_client,
		sasl]},

	{sys_config, "./config/sys.config"},
	{vm_args, "./config/vm.args"},

	{dev_mode, true},
	{include_erts, false},

	{extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
	{include_erts, true}]}]
}]
}.
